body{
    margin: 0;
}
nav{
   background-color: black;
   display: flex;
   justify-content: space-between; 


}
.images{
    height: 70px;
    width: 70px;
    margin-left: 50px;

}
ul{
    display: flex;
    /* justify-content: space-around; */
    font-size: 30px;
    align-items: center;
    margin: 0 10px 0 30px;
    list-style: none;
    margin-left: auto;
}
li a{
    text-decoration: none;
    color: white;
    margin: 0 40px;
    padding: 5px 5px;

}
li a:hover{
    box-shadow: 10px 10px 10px 5px white;
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 5px 5px;
}
#banner{
    display: flex;
    background-color: rgb(231, 155, 120);
    
    
    height: 80vh;
    /* width: 50%; */

}
.baa{
    text-align: center;
    align-items: center;
    padding: 100px 50px;
    width: 60%;


}
.bab{
    margin-top: 50px;
    height: 450px;
    width: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    /* padding: 10%; */
    background-image: url(p.png);
    margin: 100px 0 0 100px;
    filter: drop-shadow(10px 50px 0px  rgb(39, 39, 39));
}
.imaga{
    height: 70vh;
}
h1{
    margin-top: 100px;
    font-size: 40px;
}
button{
    margin-top: 100px;
    display: inline-block;
    padding: 20px 40px;
    background-color: #3498db;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;

}
button:hover{
    display: inline-block;
    padding: 20px 40px;
    background-color:transparent;
    color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 01s ease, color .3s ease;
}
}
.icon{
    
    font-size: 50px;
    margin: 50px;
    color: blue;
    /* padding: 50px; */

}
i:hover{
    /* font-size: 40px; */
    /* padding: 50px; */
    filter: drop-shadow(10px 50px 0px  rgb(20, 16, 16));
}
span{
    margin: 10px;
   
}




.babb{
    margin-top: 50px;
    height: 450px;
    width: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    /* padding: 10%; */
    background-image: url(m.png);
    margin: 100px 0 0 100px;
    filter: drop-shadow(10px 50px 0px  rgb(39, 39, 39));
}
s::before{
   
    content: "";
    display: block; 
    width: 500px; 
    height: 200px; 
    background-image: url('ggg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 070px 00 0 300px;
    
  }
  s::after{
   
    content: "";
    display: block; 
    width: 200px; 
    height: 100px; 
    background-image: url('pngwing.com\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 070px 00 0 390px;
    filter: drop-shadow(10px 50px 0px  rgb(139, 138, 138));
  }
  s{
    font-size: 30px;
  }
